.course-profile {
  display: flex;
}

.courses-list {
  background-color: #fff;
}

.courses-list-card-section {
  /* background-color: #fff; */
  padding: 10px;
  border-radius: 20px;
}

.course-links {
  flex: 2;
  /* border-radius: 10px; */
  position: fixed;
  width: 300px;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4b7e31;
  box-shadow: 0px 4px 15px 0px #0000000d;
  border: 1px solid #44444440;
  overflow-y: scroll;
}

.course-links::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar width */
  height: 0;
  /* Remove scrollbar height */
}

.about-courses-menu {
  color: #ffffff;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.back-to-course-list {
  cursor: pointer;
}

.course-title-text {
  width: 280px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}

.course-title-text h2 {
  font-size: 24px;
  text-wrap: nowrap;
  color: #4b7e31;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 0;
}

.course-title-text h2.sub-title {
  color: #5b616a;
}

.about-courses-menu .sub-courses {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

.about-courses-menu .sub-courses li {
  width: 280px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  margin: 0 0 10px 0;
}

.about-courses-menu .sub-courses li p.text-wrap {
  /* text-align: justify; */
  width: auto;
}

.about-courses-menu .sub-courses li:hover {
  background: rgba(20, 20, 20, 0.5);
  color: #ffffff;
}

.about-courses-menu .sub-courses li .iconify {
  font-size: 18px;
  margin-right: 20px;
  color: #fafafa;
}

.about-courses-menu .sub-courses li.active {
  background-color: #d4ffbe;
  color: #5b616a;
}

.about-courses-menu .sub-courses li.active .iconify {
  color: #d6d6d6;
}

.course-sidebar-content {
  flex: 4;
  border-radius: 10px;
  padding: 40px 10px;
  /* margin: 50px 0 0 250px ; */
  margin: 60px 0 0 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-div {
  padding: 15px;
  background-color: #4b7e31;
  width: fit-content;
  border-radius: 15px;
}

.custom-video {
  width: 800px;
  height: 400px;
}

.progression-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pause-play-btn {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ecedf0;
  padding: 10px;
  border-radius: 5px;
}

.pause-play-btn .iconify {
  color: #4b7e31;
  font-size: 32px;
}

.btn.progress-btn {
  width: 200px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ecedf0;
  padding: 10px;
  border-radius: 5px;
}

.btn.progress-btn.btn-light {
  background-color: #d4ffbe;
  color: #4b7e31;
}

.btn.progress-btn.btn-dark {
  background-color: #4b7e31;
  color: #ffffff;
}

.course-progression-page .course-info-modal {
  width: fit-content;
}

.course-progression-page .course-info-modal .progress-course-info-p {
  color: #4b7e31;
  font-weight: 500;
}

.affirmation-page {
  background-image: url('../../../../../assets/affirmation-bg.png');
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: contain;
  /* display: flex;
    flex-direction: column; */
  /* align-items: center; */
}

.course-progression-page .affirmation-page textarea {
  width: 800px;
  padding: 20px;
  outline: none;
  border: none;
}

.course-progression-page .affirmation-page textarea::placeholder {
  color: #d6d6d6;
}

.affirmation-page .video-div {
  padding: 30px 20px;
  background-color: #4b7e31;
  width: fit-content;
  border-radius: 15px;
  background-image: url('../../../../../assets/Popup-Growth.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.affirmation-page h2 {
  color: #ffffff;
  background-color: #4b7e31;
  padding: 5px 10px;
}

.affirmation-page hr {
  border: 1px solid #fff;
}

.affirmation-page .decor {
  width: 850px;
  overflow: hidden;
  position: absolute;
  top: 70px;
}

.affirmation-page .decor img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.about-me-bg {
  padding: 20px;
  background-image: url('../../../../../assets/Favourite.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 900px;
  height: 450px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-form-title {
  text-align: center;
}

.about-me-form-title .iconify {
  font-size: 40px;
  color: #4b7e31;
  /* background-color: #D4FFBE; */
  /* border: 1px solid #4B7E31; */
}

.about-progression-form p {
  font-size: 12px;
  color: #5b616a;
}

.about-me-form-title h5 {
  font-size: 38px;
  color: #4b7e31;
}

.about-me-form {
  width: 700px;
  background-color: #ffffff;
  /* height: 400px; */
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-progression-form .form-group {
  display: flex;
  align-items: center;
}

.about-progression-form .form-group label {
  font-size: 14px;
  color: #5b616a;
}

.about-progression-form .form-group input {
  /* max-width: 90%; */
  width: 400px;
  height: 50px;
  font-size: 14px;
  padding: 10px;
  margin: 15px 5px;
  border: none;
  outline: none;
  background-color: #f8f8f8;
  border: 1px solid #ecedf0;
  border-radius: 5px;
}

.about-progression-form .form-group input[type='checkbox'] {
  margin: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f8f8f8;
  border: 2px solid #606060;
  border-radius: 35px;
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  /* appearance: none; */
  outline: none;
}

.about-progression-form input[type='checkbox']::before {
  content: '\2713';
  display: none;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: normal;
  color: #fff;
  background-color: #4b7e31;
  /* border-radius: 50%; */
}

/* Checked state */
.about-progression-form input[type='checkbox']:checked::before {
  display: block;
  /* Show the checkmark */
}

.aboutme-monkey {
  padding: 0 20px 20px 20px;
  background-image: url('../../../../../assets/all-about-me-image.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 107%;
  width: 900px;
  height: fit-content;
  border-radius: 10px;
}
.about-me-tag {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-me-tag img {
  margin-left: 15rem;
  width: 25%;
}

.about-me-boxes {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* margin-top: 40px; */
}

.about-me-boxes .fun-fact-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px 15px;
}

.about-me-boxes .fun-fact-boxes .box:nth-child(3),
.about-me-boxes .fun-fact-boxes .box:nth-child(4) {
  column-gap: 20px;
}

.about-me-boxes .box {
  background-color: #f8f8f8;
  border: 3px solid #4b7e31;
  /* width: max-content; */
  height: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: left;
}
.about-me-boxes .fun-fact-boxes .box {
  width: 110px;
}
.about-me-boxes .box.large {
  margin: 0 15px;
}
.about-me-boxes .box h5 {
  font-size: 22px;
  color: #4b7e31;
  text-wrap: wrap;
  margin-bottom: 0;
}
.about-me-boxes .box ul {
  margin-bottom: 0;
}
.about-me-boxes .box li {
  font-size: 12px;
  color: #5b616a;
}

.about-me-boxes .box .iconify {
  font-size: 25px;
  color: #4b7e31;
}
.about-me-boxes .box .iconify.tick-icon {
  font-size: 22px;
  color: #256b02;
  font-weight: 800;
}

.download-about-me {
  float: right;
  color: #5b616a;
  font-size: 16px;
  cursor: pointer;
}

.download-about-me .iconify {
  font-size: 30px;
  color: #456435;
}

.congrats {
  padding: 20px;
  background-image: url('../../../../../assets/congrats-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 900px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.congrats h1 {
  font-size: 80px;
  margin: 10px 0;
  color: #4b7e31;
}

.congrats img {
  max-width: 10%;
}

.about-progression-form .form-group.radio-input label {
  font-size: 14px;
  color: #5b616a;
  font-weight: 600;
}

.about-progression-form .form-group.long-input input {
  width: 550px;
}

.about-progression-form .form-group input::placeholder {
  color: #d6d6d6;
}

input[type='password']::-webkit-input-placeholder:-webkit-autofill,
input[type='text']::-webkit-input-placeholder:-webkit-autofill {
  background-color: #f8f8f8;
}

.about-me-form-btn {
  width: 120px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}

.about-me-form-btn.btn-next {
  background-color: #d6d6d6;
  color: #fff;
}

.about-me-form-btn.btn-back {
  background-color: #d4ffbe;
  color: #4b7e31;
}
.course-profile {
  display: flex;
}

.courses-list {
  background-color: #fff;
}

.courses-list-card-section {
  /* background-color: #fff; */
  padding: 10px;
  border-radius: 20px;
}

.course-links {
  flex: 2;
  /* border-radius: 10px; */
  position: fixed;
  width: 300px;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4b7e31;
  box-shadow: 0px 4px 15px 0px #0000000d;
  border: 1px solid #44444440;
  overflow-y: scroll;
}

.course-links::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar width */
  height: 0;
  /* Remove scrollbar height */
}

.about-courses-menu {
  color: #ffffff;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.back-to-course-list {
  cursor: pointer;
}

.course-title-text {
  width: 280px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}

.course-title-text h2 {
  font-size: 24px;
  text-wrap: nowrap;
  color: #4b7e31;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 0;
}

.course-title-text h2.sub-title {
  color: #5b616a;
}

.about-courses-menu .sub-courses {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

.about-courses-menu .sub-courses li {
  width: 280px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  margin: 0 0 10px 0;
}

.about-courses-menu .sub-courses li p.text-wrap {
  /* text-align: justify; */
  width: auto;
}

.about-courses-menu .sub-courses li:hover {
  background: rgba(20, 20, 20, 0.5);
  color: #ffffff;
}

.about-courses-menu .sub-courses li .iconify {
  font-size: 18px;
  margin-right: 20px;
  color: #fafafa;
}

.about-courses-menu .sub-courses li.active {
  background-color: #d4ffbe;
  color: #5b616a;
}

.about-courses-menu .sub-courses li.active .iconify {
  color: #d6d6d6;
}

.course-sidebar-content {
  flex: 4;
  border-radius: 10px;
  padding: 40px 10px;
  /* margin: 50px 0 0 250px ; */
  margin: 60px 0 0 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-div {
  padding: 15px;
  background-color: #4b7e31;
  width: fit-content;
  border-radius: 15px;
}

.custom-video {
  width: 800px;
  height: 400px;
}

.progression-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pause-play-btn {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ecedf0;
  padding: 10px;
  border-radius: 5px;
}

.pause-play-btn .iconify {
  color: #4b7e31;
  font-size: 32px;
}

.btn.progress-btn {
  width: 200px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ecedf0;
  padding: 10px;
  border-radius: 5px;
}

.btn.progress-btn.btn-light {
  background-color: #d4ffbe;
  color: #4b7e31;
}

.btn.progress-btn.btn-dark {
  background-color: #4b7e31;
  color: #ffffff;
}

.course-progression-page .course-info-modal {
  width: fit-content;
}

.course-progression-page .course-info-modal .progress-course-info-p {
  color: #4b7e31;
  font-weight: 500;
}

.affirmation-page {
  background-image: url('../../../../../assets/affirmation-bg.png');
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: contain;
  /* display: flex;
    flex-direction: column; */
  /* align-items: center; */
}

.course-progression-page .affirmation-page textarea {
  width: 800px;
  padding: 20px;
  outline: none;
  border: none;
}

.course-progression-page .affirmation-page textarea::placeholder {
  color: #d6d6d6;
}

.affirmation-page .video-div {
  padding: 30px 20px;
  background-color: #4b7e31;
  width: fit-content;
  border-radius: 15px;
  background-image: url('../../../../../assets/Popup-Growth.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.affirmation-page h2 {
  color: #ffffff;
  background-color: #4b7e31;
  padding: 5px 10px;
}

.affirmation-page hr {
  border: 1px solid #fff;
}

.affirmation-page .decor {
  width: 850px;
  overflow: hidden;
  position: absolute;
  top: 70px;
}

.affirmation-page .decor img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.about-me-bg {
  padding: 20px;
  background-image: url('../../../../../assets/Favourite.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 900px;
  height: 450px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-form-title {
  text-align: center;
}

.about-me-form-title .iconify {
  font-size: 40px;
  color: #4b7e31;
  /* background-color: #D4FFBE; */
  /* border: 1px solid #4B7E31; */
}

.about-progression-form p {
  font-size: 12px;
  color: #5b616a;
}

.about-me-form-title h5 {
  font-size: 38px;
  color: #4b7e31;
}

.about-me-form {
  width: 700px;
  background-color: #ffffff;
  /* height: 400px; */
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-progression-form .form-group {
  display: flex;
  align-items: center;
}

.about-progression-form .form-group label {
  font-size: 14px;
  color: #5b616a;
}

.about-progression-form .form-group input {
  /* max-width: 90%; */
  width: 400px;
  height: 50px;
  font-size: 14px;
  padding: 10px;
  margin: 15px 5px;
  border: none;
  outline: none;
  background-color: #f8f8f8;
  border: 1px solid #ecedf0;
  border-radius: 5px;
}

.about-progression-form .form-group input[type='checkbox'] {
  margin: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f8f8f8;
  border: 2px solid #606060;
  border-radius: 35px;
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  /* appearance: none; */
  outline: none;
}

.about-progression-form input[type='checkbox']::before {
  content: '\2713';
  display: none;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: normal;
  color: #fff;
  background-color: #4b7e31;
  /* border-radius: 50%; */
}

/* Checked state */
.about-progression-form input[type='checkbox']:checked::before {
  display: block;
  /* Show the checkmark */
}

.aboutme-monkey {
  padding: 0 20px 20px 20px;
  background-image: url('../../../../../assets/all-about-me-image.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 107%;
  width: 900px;
  height: fit-content;
  border-radius: 10px;
}
.about-me-tag {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-me-tag img {
  margin-left: 15rem;
  width: 25%;
}

.about-me-boxes {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* margin-top: 40px; */
}

.about-me-boxes .fun-fact-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px 15px;
}

.about-me-boxes .fun-fact-boxes .box:nth-child(3),
.about-me-boxes .fun-fact-boxes .box:nth-child(4) {
  column-gap: 20px;
}

.about-me-boxes .box {
  background-color: #f8f8f8;
  border: 3px solid #4b7e31;
  /* width: max-content; */
  height: fit-content;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: left;
}
.about-me-boxes .fun-fact-boxes .box {
  width: 110px;
}
.about-me-boxes .box.large {
  margin: 0 15px;
}
.about-me-boxes .box h5 {
  font-size: 22px;
  color: #4b7e31;
  text-wrap: wrap;
  margin-bottom: 0;
}
.about-me-boxes .box ul {
  margin-bottom: 0;
}
.about-me-boxes .box li {
  font-size: 12px;
  color: #5b616a;
}

.about-me-boxes .box .iconify {
  font-size: 25px;
  color: #4b7e31;
}
.about-me-boxes .box .iconify.tick-icon {
  font-size: 22px;
  color: #256b02;
  font-weight: 800;
}

.download-about-me {
  float: right;
  color: #5b616a;
  font-size: 16px;
  cursor: pointer;
}

.download-about-me .iconify {
  font-size: 30px;
  color: #456435;
}

.congrats {
  padding: 20px;
  background-image: url('../../../../../assets/congrats-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 900px;
  height: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.congrats h1 {
  font-size: 80px;
  margin: 10px 0;
  color: #4b7e31;
}

.congrats img {
  max-width: 10%;
}

.about-progression-form .form-group.radio-input label {
  font-size: 14px;
  color: #5b616a;
  font-weight: 600;
}

.about-progression-form .form-group.long-input input {
  width: 550px;
}

.about-progression-form .form-group input::placeholder {
  color: #d6d6d6;
}

input[type='password']::-webkit-input-placeholder:-webkit-autofill,
input[type='text']::-webkit-input-placeholder:-webkit-autofill {
  background-color: #f8f8f8;
}

.about-me-form-btn {
  width: 120px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
}

.about-me-form-btn.btn-next {
  background-color: #d6d6d6;
  color: #fff;
}

.about-me-form-btn.btn-back {
  background-color: #d4ffbe;
  color: #4b7e31;
}
