.individual-info-container {
  font-size: 14px;
  padding: 20px;
}

.back-btn {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.individual-info-container .card {
  display: flex;
  align-items: start;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  justify-content: start;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-right: 20px;
}

.details {
  flex: 1;
}

.name {
  font-size: 24px;
  margin: 0 0 10px;
}

.grade {
  background-color: #ffc107;
  border-radius: 12px;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.primary {
  background-color: #ffc107;
}

.location,
.country {
  margin: 0;
}

.flag {
  margin-left: 5px;
}

.tags {
  margin-top: 10px;
}

.tag {
  background-color: #17a2b8;
  border-radius: 12px;
  color: #fff;
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
}

.student {
  background-color: #007bff;
}

.additional-info {
  background-color: #329bd6;
  border-radius: 8px;
  color: #000;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding: 10px;
  width: 100%;
}

.additional-info p {
  margin: 0;
  font-size: 10px;
  color: #5ce1e6;
  font-family: 200;
}

.additional-info span {
  font-size: 14px;
  color: #fff;
}

.detail .name,
.grade,
.location,
.country,
.flag {
  font-size: 14px;
  text-align: left;
}

p.grade,
p.location,
p.country {
  font-size: 14px;
}

h2.name {
  text-align: left;
}

p.grade.primary {
  text-align: left;
  width: 100px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
}
