.settings-change-password {
  padding: 20px;
  background-color: #fff;
  max-width: 400px;
}

.settings-change-password h2 {
  font-size: 24px;
  margin-top: 0;
}

.settings-change-password p {
  font-size: 14px;
  line-height: 1.5;
}

.settings-change-password a {
  color: #00bcc3;
  text-decoration: none;
}

.settings-change-password form {
  margin-top: 20px;
}

.settings-change-password .form-group {
  position: relative;
  margin-bottom: 20px;
}

.settings-change-password label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.settings-change-password .form-group div {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #aaa;
}

.settings-change-password input {
  display: block;
  width: calc(100% - 40px);
  padding: 10px;
  padding-right: 40px; /* Make room for the icon */
  background-color: transparent;
  border: none;
}

.settings-change-password .icon {
  position: absolute;
  right: 10px;
  top: 65%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #aaa;
}

.settings-change-password button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #00bcc3;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.settings-change-password button:hover {
  background-color: #009da8;
}

.circle {
  width: 70px;
  height: 70px;
  background-color: #d3f3d3; /* Light green background */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkmark {
  width: 50px;
  height: 50px;
  background-color: #32d296; /* Darker green for checkmark */
  border-radius: 50%;
  position: relative;
}

.checkmark:after {
  content: '';
  position: absolute;
  left: 35%;
  top: 15%;
  width: 30%;
  height: 60%;
  border: solid white;
  border-width: 0 6px 6px 0;
  transform: rotate(45deg);
}
