@import url('https://fonts.cdnfonts.com/css/poppins');

@import url('https://fonts.cdnfonts.com/css/good-unicorn');

:root {
  --paragraph-font-family: 'Poppins', sans-serif;
  --headings-font-family: 'Good Unicorn', sans-serif;
}

/* Global styles for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: var(--paragraph-font-family);
  line-height: 1.5;
  color: #5b616a;
  overflow-x: hidden;
  /* Prevent horizontal scrollbar */
}

/* HTML styles */
html {
  scroll-behavior: smooth;
  /* Smooth scrolling behavior */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headings-font-family);
  font-weight: 400;
  line-height: normal;
}

p,
span,
a {
  font-family: var(--paragraph-font-family);
  margin-bottom: 0;
  font-weight: 400;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

/* Remove default list styles from list items */
li {
  list-style: none;
}

input:focus,
select:focus {
  outline: none;
  /* border: none; */
}

button {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: #f8f8f8 !important;
  -webkit-box-shadow: 0 0 0 30px #f8f8f8 inset !important;
}

.root-layout {
  background-image: url('./assets/Hero.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: fit-content;
  border-radius: 22px;
  z-index: 4000;
}

.ReactModal__Overlay.custom-overlay {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8) !important;
  /* transition: all .3s ease-out; */
  z-index: 999;
  border: none;
}

.modal-base_after-open {
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.98) !important;
  opacity: 0.8;
  border: none;
}
.modal-content {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  margin: 0 auto;
  border-radius: 20px;
  padding: 30px 60px;
}
.see-more-content {
  width: 100%;
  height: inherit;
  border-radius: 20px;
  padding: 1.5rem 0;
}

.see-more-text p,
ul,
li {
  font-size: 12px;
}
.edit-course-modal {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  margin: 0 auto;
  border-radius: 20px;
  padding: 30px 60px;
}
.custom-modal-otp {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  margin: 0 auto;
  border-radius: 20px;
  padding: 30px 60px;
}
.send-invite-modal {
  width: 50%;
  background-color: #fefefe;
  margin: 0 auto;
  border-radius: 20px;
  padding: 30px 60px;
}
.see-more-modal {
  width: 80%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  margin: 0 auto;
  border-radius: 20px;
  padding: 30px 60px;
}
.custom-modal-success {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  margin: 0 auto;
  border-radius: 20px;
  padding: 30px 60px;
}

.modal-content h2 {
  font-size: 40px;
  text-align: center;
}

/* For Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Slim width */
}

::-webkit-scrollbar-track {
  background: #00bcc3; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #91f8fb; /* Color of the scroll thumb */
  border-radius: 10px; /* Rounded corners for the scroll thumb */
  border: none; /* Optional: Adds a border around the thumb */
}

/* For Firefox */
